/* imports */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Mattahary';
    src: url('../fonts/Mattahary.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beyond_the_mountains';
    src: url('../fonts/beyond_the_mountains.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
}

.Padrao {
    padding-top: 120px;
    padding-bottom: 196px;
    background-color: #f1f1f1;
}

/* HOME PAGE BEGIN */

/* BOTÃO PERSONALIZADO */

.personalized-button-back {
    background-color: #e119ff;
    width: 215px;
    height: 55px;
    position: relative;
}

.personalized-button-front {
    background-color: #849bff;
    width: 215px;
    height: 55px;
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
    transition: all 0.3s;
}

.button-text {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 14px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.personalized-button-front:hover {
    background-color: #5670e6;
    margin-top: 0;
    margin-left: 0;
    transform: scale(1);
}

/* FIM DO BOTÃO PERSONALIZADO */

/* NAVBAR */

.header_area nav {
    z-index: 20;
}

nav {
    transition: all 0.3s;
}

.header_area {
    transition: background 0.4s, all 0.3s linear
}

.navbar-personalized-fixed {
    position: fixed;
    background-color: #849bff;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
}

.litterae {
    font-size: 55px;
    font-family: "Mattahary";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-shadow: -5px 0px 0px rgba(225, 25, 255, 0.55);
    margin-top: 20px;
}

.logo img {
    width: 170px;
    height: 55px;
}

.logo a {
    text-decoration: none;
}

.logo a:hover {
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
    margin-top: 20px;
}

.nav-links a {
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}

.nav-links a:hover {
    color: #e119ff;
}

/* burger begin */

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1046px) {
    #wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-x: hidden
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 70px;
        background-color: #849bff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        z-index: 2;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* burguer end */

/* FIM NAVBAR */

/* SLIDES BEGIN */

.carousel-indicators li {
    border-radius: 50%!important;
    width: 12px!important;
    height: 12px!important;
    transition: all 0.3s!important;
}

.carousel-indicators li:hover {
    transform: scale(1.5);
}

.carroca:hover .carousel-indicators li {
    background-color: darkblue;
}

.carroca {
    margin-top: -30px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    transition: all 0.3s;
}

.carroca img {
    width: 1200px;
    height: 600px;
}

@media screen and (max-width: 1046px) {
    .carroca {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width:875px) {
    .carroca img {
        height: 400px;
        width: 700px;
    }
}

@media screen and (max-width:500px) {
    .carroca img {
        height: 330px;
        width: 560px;
    }
}

/* SLIDES END */

/* SOBRE BEGIN */

.text-sobre {
    font-family: "beyond_the_mountains";
    font-size: 30px;
}

.text-sobre img {
    width: 145px;
    height: 55px;
}

/* SOBRE END */

/* LINHA */

.Linha {
    width: 100%;
    height: 10px;
}

/* FIM LINHA */

/* CARDS BEGIN */

.container-personalized {
    margin: 30px;
}

@media screen and (max-width: 500px) {
    .container-personalized {
        margin: 0;
    }
}

.row-personalized {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image img {
    width: 480px;
    height: 300px;
    opacity: 1;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}

.image:hover img {
    opacity: 0.4;
}

.image {
    background-color: #000000;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}

.image .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    width: 100%;
    height: 100%;
}

.image .details h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 70px;
    opacity: 0;
    transition: all 0.3s;
}

.image .details h2 span {
    font-weight: 900;
}

.image:hover .details h2 {
    opacity: 1;
    transform: translateY(-30px);
}

.image .details p {
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: all 0.6s;
}

.image:hover .details p {
    opacity: 1;
    transform: translateY(-40px);
}

.more {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: all 0.6s;
}

.image:hover .more {
    bottom: 0;
}

.more .read-more {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.more .read-more span {
    font-weight: 900;
}

.more .icon-links i {
    color: black;
    font-size: 20px;
}

.more .icon-links a:not(:last-child) i {
    margin-right: 20px;
}

@media (max-width: 1080px) {
    .image {
        flex: 100%;
        max-width: 480px;
    }
}

@media (max-width: 400px) {
    .image .details p {
        font-size: 16px;
    }
    .more .read-more, .more .icon-links a i {
        font-size: 18px;
    }
}

/* CARDS END */

/* BTN PORTIFOLIO */

.btn-portifolio {
    display: flex;
    justify-content: center;
}

/* FIM BTN PORTIFOLIO */

/* BTN ENVIAR */

button {
    border: none;
}

.btn-enviar {
    margin: 0 0 70px;
}

.btn-enviar a {
    float: right;
}

.btn-enviar .personalized-button-back {
    width: 170px;
    height: 45px;
}

.btn-enviar .personalized-button-front {
    width: 170px;
    height: 45px;
}

.btn-enviar p {
    margin-right: 45px;
    margin-top: 10px;
}

/* FIM BTN ENVIAR */

/* CONTATO BEGIN */

.contato-links a {
    font-size: 40px;
    color: #849bff;
    transition: all 0.3s;
}

.contato-links a:hover {
    color: #5670e6;
}

form label {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

form input, select, textarea {
    border-radius: 0!important;
    border-color: #000000b6!important;
}

#contato h2 {
    font-family: 'beyond_the_mountains';
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

#contato h2 img {
    width: 300px;
    height: 50px;
}

/* CONTATO END */

/* RODAPE */

.rodape {
    background-color: #849bff;
    width: 100%;
    height: 100px;
    box-shadow: 0px -9px 0px 0px rgba(225, 25, 255, 0.5);
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.footer-links a:link {
    text-decoration: none;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: white;
    font-size: 20px;
    margin: 5px;
}

.rodape p {
    margin-top: 25px;
}

@media(max-width:580px) {
    .rodape {
        font-size: 13px;
    }
    .rodape p {
        margin-top: 0;
    }
    .rodape-links {
        margin-top: 20px;
    }
    .footer-links {
        margin-top: 0px;
    }
    .copyright {
        margin: 0 -30px;
    }
}

/* RODAPE END */

/* WPP LINK BUTTON */

.whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
    opacity: 0.6;
    transition: all 0.3s;
}

.whatsapp .fa-whatsapp {
    margin-top: 10px;
}

.whatsapp:hover {
    color: #000000;
    transform: scale(1.1);
}

@media screen and (max-width: 700px) {
    .whatsapp {
        left: 10px;
        bottom: 20px;
        transform: scale(0.7);
    }
}

/* WPP LINK BUTTON END */

/* HOME PAGE END */

/* PORTIFOLIO PAGE BEGIN */

.pTitle h2 {
    font-family: 'beyond_the_mountains';
    font-size: 45px;
}

/* PORTIFOLIO PAGE END */

/* PORTIFOLIO FORM BEGIN */

.form-files {
    border: solid #000000 1px;
    display: flex;
    align-items: center;
    margin: 20px;
    width: 100%;
    height: 300px;
}

.form-files label {
    margin-left: 20px;
}

.form-files input {
    margin-left: 20px;
}

.form-files img {
    max-width: 150px;
    max-height: 200px;
    margin-left: 150px;
}

/* PORTIFOLIO FORM END */

/* SAIBA MAIS BEGIN */

.read-more-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.read-more-images img {
    margin: 5px;
    width: 450px;
    height: 450px;
}

@media screen and (max-width: 970px) {
    .read-more-images img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 735px) {
    .read-more-images img {
        width: 450px;
        height: 450px;
    }
    .read-more-images {
        flex-direction: column;
    }
}

/* SAIBA MAIS END */

/* SOBRE NOS BEGIN */

.sobreNos-section {
    margin-top: 20px;
}

.sobreNos-title {
    font-family: 'beyond_the_mountains';
    text-align: center;
    margin-bottom: 50px;
}

.sobreNos-description img {
    max-width: 250px;
    max-height: 350px;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* SOBRE NOS END */

.control-height {
    padding-bottom: 400px;
}